<?php
require_once __DIR__.'/../pan/kore/App.php';


/**
 * Nombre de la aplicacion
 */
\pan\App::setAppName('');

/**
 * Version de la aplicacion
 */
\pan\App::setAppVersion('');

/**
 * Ambiente de ejecucion de la aplicacion
 * - PROD > produccion
 * - TEST > testing
 * - DEV > desarrollo
 * - LOCAL > localhost
 */
\pan\App::setAppEnvironment('');


/**
 * codificacion de la aplicacion
 */
\pan\App::setCharset('');


/**
 * definir pagina para error 404
 */
\pan\App::setPath404('');


\pan\App::setDefaultModule('');
/**
 * definir controlador por defecto
 */
\pan\App::setDefaultController('');

/**
 * definir pagina por defecto al ingresar
 */
\pan\App::setDefaultAction('');


/**
 * indicar el template por defecto de la aplicación
 */
\pan\App::setDefaultTemplate('');


/**
 * habilitar uso de sesiones
 */
\pan\App::setSessionApp(boolean);


/**
 * localizacion de la aplicación
 */
\pan\App::locale('');

\pan\App::setDbAuditoria(boolean);

\pan\App::setDataSessionUser('');


\pan\App::setTemplate('');



